[submodule "amplifier"]
	path = amplifier
	url = https://github.com/microsoft/amplifier.git
[submodule "amplifier-core"]
	path = amplifier-core
	url = https://github.com/microsoft/amplifier-core.git
[submodule "amplifier-foundation"]
	path = amplifier-foundation
	url = https://github.com/microsoft/amplifier-foundation.git
[submodule "amplifier-bundle-attention-firewall"]
	path = amplifier-bundle-attention-firewall
	url = https://github.com/bkrabach/amplifier-bundle-attention-firewall.git
[submodule "amplifier-app-server"]
	path = amplifier-app-server
	url = https://github.com/bkrabach/amplifier-app-server.git
